.loader {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;


.animation {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid black;
    border-top: 5px solid rgb(135, 135, 180);
    animation: spin 1s linear infinite;
    
}

.title {
    margin-top: 80px;
    font-weight: bold;
    width: 500px;
    text-align: start;

}

@keyframes spin {
    0%{
        transform: rotate(0 deg);
    }
    100% {
        transform: rotate(360 deg);
    }
}

}