.header {
    display: flex;
    align-items: center;
    padding: 14px;
    background-color: #FCD4D4;
    flex-direction: column;
    .title {
     font-size: 20px;
     font-weight: bold;
     margin-bottom: 6px;
    }
   
}

 @media(min-width:700px) {
        .header {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .title {
            margin-bottom: 0px;
        }

    }