.searchBar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    form {
        display: flex;
        align-items: center;
    }
    input[type="text"] {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;

    }
    button {
        padding: 10px;
        font-size: 16px;
        background-color: #1C5314;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}